*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-image: linear-gradient(#78B2BF, #D98977);
    margin-top: 30vh;
}

body{
    background-image: linear-gradient(to right, #0378A6, #F0F2A7);
}

.container > h1{
    margin: 5px 0 20px 0;
}

h3{
    margin: 5px 0;
}

li{
    list-style: number inside;
    line-height: 24px;
}

button{
    margin-top: 20px;
    border: none;
    background-color: #F0F2A7;
    padding: 5px 10px;
    border-radius: 10px;
}

#visualizza{
    padding-top: 10px;
}
